* {
    margin: 0;
    padding: 0;
}

#thegame_body {
    position: relative;
    z-index:0;
}

#thegame_h1 {
    position : absolute;
    z-index:1;
}

#logo {
    display: flex;
    margin: auto;
    width: 300px;
    margin-right: 32%;
}

#login_reg {
    display: flex;
}

#breaker {
    color: #5a5a5a;
}

.login_link {
    color: #949494;
    text-decoration: none;
}

header {
    display: flex;
    padding: 20px;
}

.register_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    color: white;
    margin: auto;
    margin-top: 100px;
    background-image: none;
    border: 1px grey solid;
    background-color: #151515;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.register_wrapper select {
    width: 100%;
}

.register_wrapper h4 {
    margin: auto;
    background-image: none;
}

.register_wrapper form {
    background-image: none;
    margin: auto;
}

input {
    background-image: none;
    background-color: white;
    color: black;
    width: 200px;
    background-image: none;
}

label {
    display: block;
    text-align: center;
    background-image: none;
}

button {
    background-image: none;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #484848;
    color: white;
}

#login_h4 {
    background-image: none;
}

#login_button {
    background-image: none;
}

#go_back_button {
    text-decoration: none;
    background-image: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #484848;
    color: white;
    margin-left: 70px;
}

.error_messages {
    background-image: none;
    color: red;
}

.register_wrapper p {
    background-image: none;
}

.register_wrapper h1 {
    background-image: none;
}

#rules_list {
    padding: 15px;
}

